.project-container {
  font-family: Consolas, monospace;
  padding: 20px;
  border-radius: 10px;
  margin: 15px 0 30px 0;
  border: 1px solid #ccc4;
}

.project-title {
  color: var(--main-secondary);
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: fit-content;
  font-family: cursive;
  padding-bottom: 5px;
}

.project-abstract {
  font-style: italic;
  margin-bottom: 20px;
}
.project-abstract strong {
    color: var(--main-secondary);
}

.project-table th {
  color: var(--main-secondary);
  width: 1%;
}
.project-table th,
.project-table td {
  padding-top: 8px;
  padding-bottom: 8px;
}


@media (max-width: 768px) {
  .project-container {
    border-radius: 0;
    margin-left: -1.3em;
    margin-right: -1.3em;
    padding: 15px;
  }

  .project-table th,
  .project-table td {
    padding: 6px;
  }
}
